<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scratchticketgenie.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4E25006C45EDD8FD969E34724A4F6E026D416E31</string>
				<key>dateExpires</key>
				<string>04/12/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4E25006C45EDD8FD969E34724A4F6E026D416E31</string>
						<key>dateExpires</key>
						<string>04/12/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GPB27TJXT</string>
						<key>name</key>
						<string>SCRATCH TICKET GENIE LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2GPB27TJXT.com.scratchticketgenie</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>2GPB27TJXT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>scratchticketgenie.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8b30d604-c92a-4fa7-bfcb-83ba11a2bcb2</string>
				<key>dateExpires</key>
				<string>04/12/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.scratchticketgenie</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2GPB27TJXT</string>
				<key>name</key>
				<string>SCRATCH TICKET GENIE LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
